[submodule "ext/json-bash"]
	path = ext/json-bash
	url = https://github.com/ingydotnet/json-bash.git
[submodule "ext/test-more-bash"]
	path = ext/test-more-bash
	url = https://github.com/ingydotnet/test-more-bash.git
