---
name: CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Info
      run: |
        set -x
        bash --version
        perl -v
        env | sort

    - name: Test
      run: |
        PROVEOPT=-v make test
